<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>
<body>
 <div class="login" align="center">
	<h1>Quickest Executable converter</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('make_exe')}}"method="post">
    	<input type="text" size="63" name="experience" placeholder="Enter absolute path of the file. Ex: C:\Users\ABC\Desktop\projects\myapp.py" required="required" />
       

        <button type="submit" class="btn btn-primary btn-block btn-large">Make Executable</button>
    </form>

   <br>
   <br>
   {{Processing}}
   {{ prediction_text }}

 </div>


</body>
</html>
